.catergories_main {display: flex;align-items: center;justify-content: space-between;}
.catergories_main {margin-bottom: 20px;}
.catergories_main > button {background-color: #ea6815;text-transform: capitalize;color: #fff;padding-inline: 15px;}