.logo_signOut {text-align: center;margin-top: 20px;}
.logo_signOut > img {width: 80%;}
.logo_signOut ul {display: flex;}

.header .css-cokf1l-MuiListItemIcon-root {min-width: 29px;}
.header .css-rizt0-MuiTypography-root {font-size: 14px;}

.header .css-1ykttio-MuiDrawer-docked .MuiDrawer-paper {background-color: #af8b6e;}